:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --green-color: #31d0aa;
  --white-color: #ffffff;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--slate-color);
  background-color: var(--white-color);
  font-size: 16px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* =================!NAVIGATION!====================== */
.logo-top {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue-color);
}

.menu-link {
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean-color);
}

.menu-link.current {
  color: var(--ocean-color);
}
.contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate-color);
}

.contact:hover,
.contact:focus {
  color: var(--ocean-color);
}
/* =================/!NAVIGATION!====================== */

/* =================HERO================ */
.hero {
  background: var(--navy-blue-color);
}
.order-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
} /* =================/HERO================ */

/* =================ABOUT================ */
.hidden-header {
  visibility: hidden;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}

.section-suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =================/ABOUT================ */

/* =================TEAM================ */
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.team-position {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* =================/TEAM================ */

/* =================FILTER================ */
.filter-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  cursor: pointer;
  background-color: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* =================/FILTER================ */

/* =================FOOTER================ */
.footer {
  background: var(--navy-blue-color);
}

.footer-about {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower-color);
}

.logo-bottom {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud-color);
} /* =================/FOOTER================ */
